.Letter {
  display: flex;
  flex: 1;
}

.Letter[disabled] {
  user-select: none;
}

.Letter-button {
  font-family: "Avenir Next LT Pro Cn";
  font-size: 7rem;
  line-height: 1;
  padding: 0;
  margin: 0;
  border: none;
  font-weight: 900;
  color: #222;
  flex: 1;
}

.Letter-button.isSolved {
  background-color: #5c79fe;
}

.Letter-button.isRevaled {
  background-color: white;
}

.Letter-button.isSpace {
  opacity: 0;
}
