.PuzzleBoard {
  margin: 3vw auto;
  display: flex;
  width: 95vw;
  height: calc(95vw * 0.44566777);
  position: relative;
  z-index: 1;
}

.PuzzleBoard-border {
  padding: 4.3vw;
  background-image: url(../../images/background.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  display: flex;
}

.PuzzleBoard-footer {
  background: linear-gradient(#fff, #b3bec2);
  width: 74vw;
  height: 15vw;
  position: absolute;
  bottom: 0;
  left: 13vw;
}

.PuzzleBoard-tiles {
  color: #000;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-gap: 0.14vw;
}

.PuzzleBoard-attempted-letters {
  position: absolute;
  right: 0;
  top: -2vw;
  padding: 0.2vw;
  padding-left: 2vw;
  color: white;
  border-radius: 1.3vw;
  text-shadow: 0.2vw 0.2vw black;
  font-size: 4vw;
  font-weight: normal;
  letter-spacing: 1.6vw;
  background: rgba(0, 0, 0, 1);
}
