.PuzzleBoard {
  margin: 3vw auto;
  display: flex;
  width: 95vw;
  height: calc(95vw * 0.44566777);
}

.PuzzleBoard-border {
  padding: 4.3vw;
  background-image: url(../../images/background.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  display: flex;
}

.PuzzleBoard-tiles {
  color: #000;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-gap: 0.14vw;
}
