.PuzzleKey {
  margin: 1rem;
  display: flex;
  justify-content: center;
  user-select: none;
}

.PuzzleKey-background {
  background: #8c959d;
  border: 0.3vw solid white;
  box-shadow: 0.3vw 0.3vw 0 0 #5f6468 inset;
  border-radius: 1.3vw;
  padding: 0 1rem;
}

.PuzzleKey button {
  background: none;
  border: none;
  font-weight: 900;
  font-size: 2vw;
  color: white;
  padding: 0.3vw 0.8vw;
  outline: none;
}

.PuzzleKey button[disabled] {
  opacity: 0;
}
