.Snow {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: -2%;
  display: flex;
  justify-content: space-around;
}

.Snowflake {
  background: white;
  box-shadow: 0 0 0.2vw 0.1vw white;
  width: 0.4vw;
  height: 0.4vw;
  border-radius: 50%;
  animation-name: snowing;
  animation-iteration-count: infinite;
}

@keyframes snowing {
  100% {
    transform: translateY(40vw);
    opacity: 0;
  }
}
