.UsedLetterBoard {
  margin: 4vh 0;
  flex: 1;
  display: flex;
  justify-content: center;
  align-self: flex-end;
  user-select: none;
  position: relative;
  z-index: 1;
}

.UsedLetterBoard-background {
  background: #8c959d;
  border: 0.3vw solid white;
  box-shadow: 0.3vw 0.3vw 0 0 #5f6468 inset;
  border-radius: 1.3vw;
  padding: 0 1rem;
}

.UsedLetterBoard button {
  background: none;
  border: none;
  font-weight: 900;
  font-size: 2vw;
  color: white;
  padding: 0.8vw 0.8vw;
  outline: none;
}

.UsedLetterBoard button[disabled] {
  opacity: 0;
}
